<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>DSPublicSchool</title>
<link rel="icon" href="{% static 'demo/school_logo.PNG' %}" type="image/gif" sizes="16x16">
<!-- content="text/html; charset=iso-8859-1" -->
<meta name="viewport" content="width=device-width, initial-scale=1" http-equiv="Content-Type"  />
<link rel="stylesheet" href="{% static 'styles/layout.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.slidepanel.setup.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.tabs.setup.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

  

<!-- ####################################################################################################### -->
<div class="wrapper col1">
    <div id="header">
      <div id="logo">
          <a href="{% url 'home' %}"><img src="{% static 'demo/school_logo.PNG' %}" alt="" width="120" height="120" /></a>

      </div>
      <div class="fl_left">
          <h1><b><u><a href="{% url 'home' %}">D. S. PUBLIC SCHOOL</a></u></b></h1>
        <h3>GHAZIABAD</h3>
      </div>

      <div class="fl_right">
        <!-- <h1><b><u><a href="{% url 'home' %}">D. S. PUBLIC SCHOOL</a></u></b></h1> -->
      <p>contact: 99999 88888</p>
      <p>Email: dspublicschool@gmail.com</p>
    </div>
      <br class="clear" />
    </div>
  </div>
<!-- #################################### -->

<div class="wrapper col2">
  <div id="nav">
    
    <ul>
      <li><a href="{% url 'contact' %}">CONTACT</a></li>
      <li><a href="{% url 'contact' %}">ACADEMICS</a></li>
      <li><a href="{% url 'home_page:studentlife' %}">STUDENT LIFE</a>
      <li><a href="{% url 'home_page:about' %}">ABOUT</a></li>
      <li><a href="{% url 'home' %}">HOME</a></li>
    </ul>
  
  </div>
</div>
<!-- ############################## -->
{% block content %}

{% endblock %}

<div class="wrapper col5">
  <div id="footer">
    <div id="newsletter">
      <h2>Inspiring Minds, Building Future</h2>
      <p>Interested in learning more about D.S Public School? We invite you to keep exploring our website, and get in touch with questions about our values, academics, community and more.</p>
      
    </div>
    <div class="footbox">
      <h2>Follow us</h2>
      <ul>
        <a href="https://www.facebook.com/DSPublicSchoolGzb" class="fa fa-facebook"></a>
        <a href="https://www.facebook.com/DSPublicSchoolGzb" class="fa fa-snapchat-ghost"></a>
        <a href="https://www.facebook.com/DSPublicSchoolGzb" class="fa fa-instagram"></a>
        

      </ul>
    </div>
    <div class="footbox">
      <h2>LOCATION</h2>
      <ul>
          <li>D.S.Public School</li>
          <p>Street No 1, Chowk, Ghaziabad,
          Uttar Pradesh, India</p>
          <h5><u>Contact</u></h5>
          <li>91+ 99999 88888</li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>

</body>
</html>