{% extends "base.html" %}
<!-- {% load static %} -->
{% block content %}

<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="featured_slide">
    {% for post in slide %}
    <div id="featured_wrap">
      <ul id="featured_tabs">
        <li><a href="#fc1">{{ post.title1 }}<br /></a></li>
        <li><a href="#fc2">{{ post.title2 }}<br /></a></li>
        <li><a href="#fc3">{{ post.title3 }}<br /></a></li>
        <li class="last"><a href="#fc4">{{ post.title4 }}<br /></a></li>
      </ul>
      <div id="featured_content">
        
        <div class="featured_box" id="fc1"><img src="{{ post.photo1.url }}" alt="" />
          <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc2"><img src="{{ post.photo2.url }}" alt="" />
          <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc3"><img src="{{ post.photo3.url }}" alt="" />
          <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc4"><img src="{{ post.photo4.url }}" alt="" width="200" height="300"/>
         </div>
         
      </div>
    </div>
    {% endfor %}
  </div>



  <!-- <div id="featured_slide">
    <div id="featured_wrap">
      {% for post in slides %}

      <ul id="featured_tabs">
        
        <li><a href="#{{ post.id }}">{{ post.tittle }}<br /></a></li>
        
        <li><a href="#fc2">Library<br /></a></li>
        <li><a href="#fc3">sports<br /></a></li>
        <li class="last"><a href="#fc4">something<br /></a></li>
        
      </ul>
      {% if post.id %}

      <div id="featured_content">
        
         <div class="featured_box" id="{{ post.id }}"><img src="{{ post.photo.url }}" alt="" /> 
        <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>
        
        <div class="featured_box" id="fc2"><img src="images/demo/2.gif" alt="" /> 
          <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc3"><img src="images/demo/3.gif" alt="" />
          <div class="floater"><a href="#">Continue Reading &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc4"><img src="{% static 'demo/front2.png' %}" alt="" width="200" height="300"/>
          
        </div>
        
        {% endif %}
         {% endfor %}
      </div>
  
  </div> -->

</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container">
    <div id="hpage">
      {% for post in facility %}
      <ul>
        <li>
          <h2>World Class facility</h2>
          <div class="imgholder"><img src="{{ post.pic1.url }}" alt="" width="200" height="200"/></a></div>
          <p>This is a W3C standards compliant free website template from <a href="http://www.os-templates.com/">OS Templates</a>. For more CSS templates visit <a href="http://www.os-templates.com/">Free Website Templates</a>. Etmetus conse cte tuer leo nisl justo sed vest vitae nunc massa scelerit</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <h2>Helping students grow</h2>
          <div class="imgholder"><img src="{{ post.pic2.url }}" alt=""width="200" height="200" /></a></div>
          <p>This template is distributed using a <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li>
          <h2>Teachers</h2>
          <div class="imgholder"><img src="{{ post.pic3.url }}" alt="" width="200" height="200"/></a></div>
          <p>Seddui vestibulum vest mi liberos estibulum urna at eget amet sed. Etmetus consectetuer leo nisl justo sed vest vitae nunc massa scelerit. Namaucibulum lor ligula nullam risque et ristie sollis sapien nulla neque.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
        <li class="last">
          <h2>Affiliation and Collaboration</h2>
          <div class="imgholder"><img src="{{ post.pic4.url }}" alt="" width="200" height="200"/></a></div>
          <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi pen as dapibulum orna. Urna ultrices quis curabitur phasellentesque congue magnis vestibulum. Orcieleifendimentum risuspenatoque massa nunc.</p>
          <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
        </li>
      </ul>
      {% endfor %}
      <br class="clear" />
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">
    <h1><b>Recent Events</b></h1>
    {% for post in images %}
    <div class="col-md-4 col-md-4 col-md-4">
    <img class="d-block w-100" src="{{ post.event_pic.url }}" alt="" width="250" height="250">
    <p>{{ post.event_description }}</p>
  </div>
    {% endfor %}
    </div>
  </div>
    
    <br class="clear" />


<!-- <div class="container">  
  <h1><u><b>Recent Events</b></u></h1>
  <div class="row">
    <div class="column">
      {% for post in images %}
    <img src="{{ post.pics.url }}" alt="Table Setting" width="200" height="300">
    
    {% endfor %} -->
    <!-- </div>
  </div>
</div> -->
<!-- ####################################################################################################### -->


{% endblock %}